# Chapter 1 - Basics
## Removing Duplicates

In [1]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series

### Removing Duplicates

In [3]:
DF_obj = DataFrame({"column 1": [1,1,2,2,3,3,3],
                   "column 2": ["a","a","b","b","c","c","c"],
                   "column 3": ["A","A","B","B","C","C","C"]})
DF_obj

#I'm using a dictionary to quickly build a DataFrame object
#with keys being the column names

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [4]:
DF_obj.duplicated()

#.duplicated() method returns a boolean value depending on whether
#or not any subsequent rows has repeating combination of values.
#this means that the first occurance of a duplicated value in the
#DataFrame object returns False while all the other occurances return True

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [6]:
DF_obj.drop_duplicates()

#.drop_duplicates() method drops the rows that return True in the
#.duplicated() method and returns the DataFrame object without
#any repeating rows.

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C

In [7]:
DF_obj = DataFrame({"column 1": [1,1,2,2,3,3,3],
                   "column 2": ["a","a","b","b","c","c","c"],
                   "column 3": ["A","A","B","B","C","D","C"]})
DF_obj

   column 1 column 2 column 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        D
6         3        c        C

In [9]:
DF_obj.drop_duplicates(["column 3"])

#By passing on the name of the column as a parameter inside
#.drop_duplicates() method, we tell Python to check every value
#in that column and drop the rows only if there is more than 1
#of the same value within that column.

#In this case, "A" was repeating on row 1, "B" was repeating on
#row 3, and "C" was repeating on row 6, which are all dropped after
#.drop_duplicates() method is called with "column 3" as its argument.

   column 1 column 2 column 3
0         1        a        A
2         2        b        B
4         3        c        C
5         3        c        D